In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# mathmatical sets expression
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# prices trans

In [3]:
prices=[11,13,43]

In [4]:
prices=np.array(prices)

In [5]:
prices=prices/2

In [6]:
list(prices)

[5.5, 6.5, 21.5]

# ><

In [7]:
cost=input(">>")
cost=cost.split(',')
# str-list trans int-list
cost=list(map(int,cost))
# int-list trans array type becasue of calculation
cost=np.array(cost)
cost=cost/3

>>11

In [8]:
cost.round()

array([4.])

# ><

# map(f,L) Using the function f in list L . ramark: remember to add list once again

In [9]:
def exchange(x):
    return float(x)*2

In [10]:
cost=input(">>")
cost=cost.split(',')
# str-list trans int-list
cost=list(map(exchange,cost))
# int-list trans array type becasue of calculation

>>112,123,43

In [13]:
cost

[224.0, 246.0, 86.0]

# ><

 # lambda is similar to inline function or define
 ## why need it . Because it may be idea appearing suddently

In [16]:
g=lambda x:x**2 # g:x -> x**2

In [19]:
g(2)

4

In [23]:
cost=input(">>")
cost=cost.split(',')
# str-list trans int-list
cost=list(map(lambda x:float(x)*2,cost))
cost

>>112,2312,324

[224.0, 4624.0, 648.0]

# ><

In [25]:
L=['112','232','34']

In [27]:
[float(p)*2 for p in L]

[224.0, 464.0, 68.0]

# temporary show

# first one 字體

In [52]:
 print("\033[4;40;33m Hellow Word!")

 Hellow Word!

# 爬蟲

In [1]:
import webbrowser

In [2]:
url="https://www.youtube.com/watch?v=qgylp3Td1Bw"

In [3]:
webbrowser.open(url)

True

In [5]:
while(1):
    mes=input("今天心情好嗎\n")
    if(mes in "今天心情很不好"):
        print("拍拍 送你coffee")
        webbrowser.open("https://www.youtube.com/watch?v=A1Ghv4PDGZg")
    elif(mes in "對阿 還不錯喔"):
        print("很多人得武漢肺炎")
        webbrowser.open(url)
    else:
        break

今天心情好嗎
還不錯
很多人得武漢肺炎
今天心情好嗎
幹

In [22]:
l1=[1,2,3,4,5]

In [23]:
# |1|2|3|4|5| the | is similar to index from 0 to 5(0) remark -1 stick is 4
l1[:]

[1, 2, 3, 4, 5]

In [24]:
# these numbers between the stick 1 and 3 will dsiappear
l1[1:3]=()

In [26]:
l1

[1, 4, 5]

# ><

# 合併 list

In [34]:
mes=input(">>")
mes.split(" ")
mes=mes.split()

>>112 1312 1432 43

In [51]:
s=''
for i in mes:
    s=s+i+','

In [38]:
s

'112,1312,1432,43,'

In [40]:
len(s)

17

In [48]:
# first mean
s=s.rstrip(',')

In [50]:
s

'112,1312,1432,43'

In [55]:
# second way
s[:-1]

'112,1312,1432,43'

In [85]:
a=[1,23,4,5]

In [63]:
len(a)

4

In [68]:
a[:1]

[1]

In [71]:
# third way
','.join(mes)

'112,1312,1432,43'

In [75]:
mes.sort()

In [77]:
# string sort didn't sort function
mes

['112', '1312', '1432', '43']

In [86]:
a.sort()

In [87]:
a

[1, 4, 5, 23]

In [88]:
a.append(-1)

In [90]:
a

[1, 4, 5, 23, -1]

# ><

In [92]:
ham="今天天氣很好"

In [97]:
# sting reverse 一次跳兩個取
ham[::2]

'今天很'

In [99]:
# good idea
ham[::-1]

'好很氣天天今'

# find a interesting idea to practice

In [101]:
from ipywidgets import interact

In [135]:
def fu(n1=0,n2=50):
    print(" "*n1+"(┛`д´)┛"+" "*(n2-2*n1)+"(`3´)")

In [131]:
fu()

(┛`д´)┛                                                            (`3´)

In [136]:
interact(fu,n1=(1,50))

interactive(children=(IntSlider(value=1, description='n1', max=50, min=1), IntSlider(value=50, description='n2…